.tableTitle {
    color: #222;
    font-family: Belanosima;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 50.4px */
}

.tableContent {
    color: #222;
        font-family: Belanosima;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
}