.input {
    display: none;
}

.post_action {
    display: flex;
    justify-content: space-around;
    border: 1px solid #dddddd;
    padding: 10px;
    width: 100%;
}

.placeholder {
    color: #9c9c9c;

}

.picked_image {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: 300px;
    object-fit: contain;
}