.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 50%; */
    height: auto;
    background: #fff;
    border-radius: 10px;
    border: none !important;
    outline: none;
}

.content {
    /* padding: 20px; */
    font-size: 20px;
    outline: none;
    cursor: auto;
}

.content:empty::before {
    position: absolute;
    content: attr(content);
    opacity: 0.6;
    z-index: -9999;
}

.title {
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    border-bottom: 0.5px solid #dddddd;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user_infor {
    display: flex;
    align-items: center;
    padding: 20px 20px 0 20px;
    /* margin-bottom: 15px; */

}

.user_infor img {
    margin-right: 20px;
}

.user_infor p {
    font-weight: 600;
    font-size: 18px;
}

.share_button {
    width: 200px;
    background: #93FDD3;
    padding: 10px 12px;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.textbox {
    width: 100%;
    padding: 20px;
    height: 200px;
    overflow: auto;
}

.close_post {
    position: absolute;
    top: 20%;
    right: 5%;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 30px !important;
}

.upload_icon {
    margin-right: 15px;
    flex: 3;

}

.placeholder {
    color: #b3b3b3;
    margin-left: 15px;
    flex: 2;
}

.post_action {
    border: 1px solid #dddddd;
    padding: 15px 5px;
    margin-top: 20px;
    border-radius: 15px;
}