.content {
    /* padding: 20px; */
    font-size: 16px;
    outline: none;
    cursor: auto;
    min-height: 24px;

    width: 100%;
}

.content:empty::before {
    /* position: absolute; */
    content: attr(content);
    opacity: 0.6;
    z-index: -9999;
}

.avatar {
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.box {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-top: 1px solid #dddddd;
    display: flex;
    align-items: center;
    padding: 10px;
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 9999;
}