.box {
    display: flex;
    height: 100vh;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background: black;
    margin-bottom: 100px;
}

.post_image {
    width: 100%;
    flex: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_image::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
}