.title {
    color: #000;
text-align: center;
font-family: Belanosima;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 107.912%; /* 69.064px */
}

.p {
    color: #000;
text-align: center;
font-family: Belanosima;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 40px;
margin-bottom: 42px;
}

.button {
    border-radius: 60px;
background: #93FDD3;
width: 269px;
height: 48px;
flex-shrink: 0;
}

.button:hover {
    border-radius: 60px;
background: #4f8972;
width: 269px;
height: 48px;
flex-shrink: 0;
}

.buttonContent {
    color: #000;
text-align: center;
font-family: Belanosima;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 108.412%; /* 26.019px */
}

.buttonContent:hover {
    color: #ffffff;
text-align: center;
font-family: Belanosima;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 108.412%; /* 26.019px */
}