.logo {
    font-family: 'Belanosima', sans-serif;
    font-size: 30px;
    color: white;
}

.p {
    color: #FFF;
    font-family: Belanosima;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-top: 25px;
}

.a {
    color: #FFF;
font-family: Belanosima;
font-size: 18px;
font-style: normal;
line-height: normal;
}