.button {
    border-radius: 60px;
    background: #93FDD3;
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Belanosima;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button:hover {
    border-radius: 60px;
    background: #06462ddf;
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    color: #ffffff;
    text-align: center;
    font-family: Belanosima;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonCancel {
    border-radius: 60px;
    border: 0.5px gray solid;
    background: white;
    width: 129px;
    height: 48px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Belanosima;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}


.typographyIntro {
    color: #282828;
    font-family: Belanosima;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.typographyTitle {
    color: #090909;
    font-family: Belanosima;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.typography {
    color: #525151;
    font-family: Belanosima;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}


.itemTitle {
    color: #0d0d0d;
    font-family: Belanosima;
    font-size: 22px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;
}
