.student_card {
    display: flex;
}

.left_content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.left_content img {
    width: 50%;
}

.right_content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card_item {
    font-size: 23px;
    margin-bottom: 5px;
}