.customBorder {
    position: relative;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.class_fee {
    font-size: 20px;
    color: #00cf7c;
    font-weight: 600;

}

.title {
    color: #222;
    font-family: Belanosima;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 50.4px */
}

.card {
    position: relative;
    background: #FFF;
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.cardContent {
    color: #222;
    font-family: Belanosima;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cardTag {
    border-radius: 15px;
    background: #93FDD3;
}

.cardDescription {
    color: black;
    font-size: 19px;
    margin-top: 20px;
}


.cardTagContent {
    color: #222;
    font-family: Belanosima;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cardButtonWaiting,
.cardButtonApply {
    border-radius: 15px;

    color: #000;
    font-weight: 600;
    flex-shrink: 0;
    min-width: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

.cardButtonApply {
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
    background: #000;
    color: #fff;
}

.cardButtonWaiting {
    font-weight: 600;
    text-transform: uppercase;
    color: red;
    background: none;
}

.box_btn {
    flex: 2;
    display: flex;
    align-items: end;
}

.box_content {
    flex: 1;

}

.cardButtonAccepted {
    border-radius: 15px;
    background: #000;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
    width: 215px;
    height: 62px;
    flex-shrink: 0;
}

.cardButtonAcceptedContent {
    color: #FFF;
    font-family: Belanosima;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cardButtonWaitingContent {
    color: #222;
    font-family: Belanosima;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;

}

.startDate {
    color: #222;
    text-align: center;
    font-family: Belanosima;
    font-size: 16px;
    font-style: normal;
    line-height: normal;

}

.buttonPagination {
    border-radius: 15px;
    background: #93FDD3;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    font-family: Belanosima;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.currentPage {
    color: #222;
    font-family: Belanosima;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 15px;

}